.nav {
  background-color: #333;
  padding: 10px;
}

.nav ul {
  list-style: none;
}

.nav li {
  display: inline-block;
}

.link {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  margin-right: 20px; 
}

.link:hover {
  background-color: #555;
}
